.nav-color {
  background-image: radial-gradient(#6497b1, #03396c, #046e69);
}

header {
  background-image: radial-gradient(#6497b1, #03396c, #046e69);
  width: 100%;
  margin: 0px, auto;
  margin-bottom: 0px;
}

main {
  margin-top: px;
  padding-top: 10px;
  background-image: radial-gradient(#6497b1, #03396c, #046e69);
  width: 100%;

  margin: 0px, auto;
  margin-bottom: 20px;
  padding-bottom: 50px;
}
main .wrapper {
  width: 100%;
  margin: 0px, auto;
  max-width: 1000px;
}
.wrapper h1 {
  font-family: "Pacifico", cursive;
  text-align: center;

  display: block;
  padding-top: 10px;
  color: white;
}
.wrapper p {
  text-align: center;
  padding-top: 10px;
  color: white;
}
.form-wrapper {
  width: 100%;
  margin: 0px, auto;
  max-width: 1000px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.para {
  float: left;
  padding: 10;
  color: white;
  height: 600px;
  width: 200px;
}

/* footer */
footer {
  margin-top: -80px;
  padding: 0px;

  max-resolution: 0px;
}
.footer-box {
  margin-top: 50px;
  display: block;
  justify-content: flex-start;
}
footer a {
  color: rgb(247, 242, 242);
}

footer p {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  color: white;
  padding-top: 5px;
}
.footer-container {
  display: flex;
  justify-content: center;
  background-color: rgb(5, 146, 146);
}
.icon-container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  background-color: rgb(6, 126, 126);
}
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column; /**can use flex wrap so in that case dont need to worries about this thing**/
  }
}
li {
  line-height: 1.4;
  font-family: sans-serif;
}
.footer-box li a {
  color: white;

  text-decoration-line: none;
  font-size: 12px;
  font-weight: 200;
}
footer ul {
  font-size: 16px;
  color: white;
}
ul li a:hover {
  text-decoration-line: underline;
  color: blue;
}
